<!DOCTYPE html>
<head>
    <title>Womyads</title>
</head>
<body>
    <div>
        <div>
            <img src="@Url.Content("~/Images/Womyads.png")"/>
        </div>
        <div>
            <img src="@Url.Content("~/Images/sombreada.png")" />
        </div>
    </div>
    <div>
        <ul>
            <li>@Html.ActionLink("Womyads","Create","Registro")</li>
            <li>@Html.ActionLink("Contáctenos","Create","Contacto")</li>
        </ul>
    </div>
    @RenderBody()
</body>
