<!DOCTYPE html>
<head>
    <title>Womyads</title>
    <link href="@Url.Content("~/Styles/Reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/Womyads.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="cabecera">
            <div class="logo">
                <img src="@Url.Content("~/Images/Womyads.png")"/>
            </div>
            <div class="separador">
            </div>
        </div>
        <nav>
            <ul>
                <li>@Html.ActionLink("Womyads", "Create", "Registro")</li>
                <li>@Html.ActionLink("Contáctenos", "Create", "Contacto")</li>
                <li>@Html.ActionLink("Tablero de Control","Show","Tablero")</li>
            </ul>
        </nav>
        <div class="body">
            @RenderBody()
        </div>
    </div>
    
</body>
